:root{
  --primary: #252525;
  --secondary: #ffffff;
  --gray-1: #e7edf8;
  --gray-2: #d6d3c8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* global */
.container {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  position: relative;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.0rem;
}

/* header */
.header {
  background-color: var(--primary);
  color: var(--secondary);
  height: auto;
  display: flex;
  justify-content: space-around;
  min-width: 360px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

  /* nav-brand */
  .nav-brand {
   
  }
  .nav-brand a  {}
  .nav-brand a img {}
  /* navbar */
  .navbar {
    display: flex;
    align-items: center;

    
  }
  .navbar ul {
    display: flex;
    justify-content: space-around;
   
  }
  .navbar ul li{
    margin-right: 5px;
  }
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }

/* main  */

.main {
  background: url("./../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--secondary);
  min-width: 360px;
  padding: 150px 0;
}

.main h1 {
  text-align: center;
  
}
.main p {
  text-align: center;
}

/* about */
.abot{}
.about h2 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  
}
  .about-container {
    display: flex;
    flex-direction: column;
    
  }

  .about-items {
    display: flex;
    flex-direction: row;

  }
  .about-item{
    flex: 1;
  }

  .about-item h3 {
    background-color: var(--primary);
    color: var(--secondary);
    font-style: italic;
    padding: 5px 0 10px 0;
    position: relative;
    text-align: center;
    top: -20px;
    width: 220px;

  }
  .about-item img {
    max-width: 100%;
    display: block;
  }
  .about-comment {
    max-width: 460px;
    margin: 20px auto;
  }

/* -- product -- */
.products {
  background-color: var(--gray-1);
  border-top: 3px solid var(--gray-2);
  padding: 60px 0;
}

  .products-container {
    display: flex;
    flex-direction: row;

  }

  .products-item {
    flex: 1;;
  }